.content-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  padding: 20px;
  overflow-y: scroll;
}

.mass-delete-btn {
  background-color: rgba(245, 230, 64, 0.5);
  border: none;
  border-radius: 5px;
  bottom: 60px;
  font-family: 'Kanit', sans-serif;
  padding: 10px;
  position: fixed;
  text-transform: uppercase;
  transition: 0.5s;
}

.mass-delete-btn:hover {
  background-color: #F5E640;
}