@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
/*   font-family: 'Kanit', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
/* font-family: 'Slabo 27px', serif; */

* {
  box-sizing: border-box;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.app {
  align-items: center;
  background-color: #1F1F1F;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}