@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
/* font-family: 'Amiri', serif; */

* {
  box-sizing: border-box;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.app {
  align-items: center;
  background-color: #1F1F1F;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}